<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header', {pagina: 'sobre' }); %>
      <main>
        <div class="jumbotron">
          <h1>Sobre mim</h1>
          <p>Ola, tudo bem? Sou estagiário na Alpha Sistemas para Empresas</p>
        </div>
      </main>
      <%- include('../partials/footer'); %>
  </body>

</html>